/* ./styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* font-family: 'Alumni Sans Collegiate One', sans-serif; */
 font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; 
}